# 방법 1) 한 줄로 (추천)
# Supabase는 보통 sslmode=require 필요
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DBNAME?sslmode=require

# 방법 2) 변수로 나눠서
# PGHOST=db.frelaihwuacofvvukphv.supabase.co
# PGPORT=5432
# PGDATABASE=postgres
# PGUSER=postgres
# PGPASSWORD=YOUR_PASSWORD
# PGSSLMODE=require

# optional
POSTGRES_ITEMS_TABLE=items
